body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.form-control-underline {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    text-align: center;

}

.form-control-underline:focus {
    box-shadow: none;
    outline: none;
    border-bottom-color: #007bff;
}

::placeholder {
    text-align: center;
    font-size: 20px;
}

.sticky-top {
    background-color: white;
    z-index: 1020;
}

.btn-custom {
    text-align: start !important;
    width: 150px;
}

.colon {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.visible {
    opacity: 1;
    display: flex;
    transform: translateY(0);
}

#inputPage,
#greetingPage {
    transition: opacity 2s ease, transform 2s ease;
}

.strikethrough {
    text-decoration: line-through;
    color: grey;
}

.goal-list {
    list-style: none;
    padding: 0;
}

.goal-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    position: relative;

}

.goal-list li span {
    white-space: normal;
    word-wrap: break-word;

}

.goal-list input[type="checkbox"] {
    margin-right: 10px;
}

#goalListContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 95%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: inset;
    overflow-y: auto !important;
}

.scrollOverflow::-webkit-scrollbar {
    display: none;
}

.scrollOverflow {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#goalListContainer.visible {
    opacity: 1;
    display: block;
    transform: translateX(0);
    pointer-events: auto;

}

.close-btn {
    display: none;
    background: none;
    border: none;
    color: red !important;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;

}

li:hover .close-btn {
    display: inline;

}

#editQuoteBtn {
    display: none
}

#quotesContainer:hover #editQuoteBtn {
    display: inline-block;
    max-height: 20px;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    display: flex;
    transform: translateY(0);
    transition: opacity 0.5s ease-in;
}

#quotes {
    max-width: 600px;
}

#hideGoalListBtn {
    position: absolute;
    top: 2px;
    left: 250px;
}

#audioControls {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 0px !important;
}

@media (max-width: 950px) {
    #goalListContainer {
        display: none;

    }
}

.iconquests {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url('assets/icons/Icon_Quests.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.iconevents {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    align-items: center;
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 5px;
    background-image: url('assets/icons/Icon_Event_Quest.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.iconstory {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    align-items: center;
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 5px;
    background-image: url('assets/icons/Icon_Story_Quest.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*loadingpage*/
@keyframes colorTransition {
    0% {
        filter: grayscale(100%);
        mask-image: linear-gradient(to right, black 0%, white 100%);
    }

    100% {
        filter: grayscale(0%);
        mask-image: linear-gradient(to right, black 100%, white 0%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ldio-x2uulkbinbj div {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: inline-block;
    margin-right: 15px;
    filter: grayscale(100%);
    animation: colorTransition 0.7s forwards;
}

.ldio-x2uulkbinbj div:nth-child(1) {
    background-image: url('assets/elements/pyro500px.png');
    animation-delay: 1s;
}

.ldio-x2uulkbinbj div:nth-child(2) {
    background-image: url('assets/elements/hydro500px.png');
    animation-delay: 1.5s;
}

.ldio-x2uulkbinbj div:nth-child(3) {
    background-image: url('assets/elements/anemo500px.png');
    animation-delay: 2s;
}

.ldio-x2uulkbinbj div:nth-child(4) {
    background-image: url('assets/elements/electro500px.png');
    animation-delay: 3s;
}

.ldio-x2uulkbinbj div:nth-child(5) {
    background-image: url('assets/elements/dendro500px.png');
    animation-delay: 3.5s;
}

.ldio-x2uulkbinbj div:nth-child(6) {
    background-image: url('assets/elements/cryo500px.png');
    animation-delay: 4s;
}

.ldio-x2uulkbinbj div:nth-child(7) {
    background-image: url('assets/elements/geo500px.png');
    animation-delay: 4.5s;
}

.loadingio-spinner-ellipsis-nq4q5u6dq7r {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}

.ldio-x2uulkbinbj {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldio-x2uulkbinbj div:last-child {
    margin-right: 0;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s forwards;
}