body{
    background-color: green !important;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-top: 2%;
    

}

.chess-container{
    
    width: 480px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    Border: 1px solid black;
    
}

.identifier{
    
    margin-right: 20px;
    margin-bottom: 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
}


.white, .black{
    flex: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #4e7837;
   
}

.fa-regular{
    font-size: 25px;
}

.fa-solid{
    font-size: 25px;
}

.label{
    background-color: white;
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}


/***Grid Layout CSS**/

.chess-container-grid{
    display: grid;
    grid-template-columns: 50px 100px 100px 100px 100px 15px;
    grid-template-rows: auto;
    background-color: white;
    padding: 20px 10px 5px 5px;
    border: solid 1px black;
}

.identifier-grid{
    height: 50px;
    width: 50px;
}

.columns-grid {
    display: grid;
    grid-template-columns: 50px 50px;
    width: 100px;
}